<div class="post-preview">
  <a href="{% url 'posts:post' post.id %}">
    <h2 class="post-title">
      {{ post.title }}
    </h2>
    <h3 class="post-subtitle">
      {{ post.text | truncatechars:255 }}
    </h3>
  </a>
  <p class="post-meta">Posted by
    <a href="#">{{ post.author }}</a>
    on {{ post.pub_date }}</p>
    
    <div class="btn-group">
      {% if user == post.author %}
        <a class="btn btn-sm btn-info" href="{% url 'posts:post_edit' post.author post.id %}" role="button">
          Редактировать
        </a>
        <a class="btn btn-sm btn-danger" roloe="button" data-toggle="modal" data-target="#post-delete-{{post.id}}" href="#">
          Удалить</a>
      {% endif %}
    </div>

</div>

{% if user == post.author %}
<div id="post-delete-{{post.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="card-header">
      <div class="modal-body text-center">Вы уверены что хотите это удалить?</div>
      <div class="d-flex justify-content-between align-items-center">
        <a class="btn btn-danger" type="button" href="{% url 'posts:post_delete' post.author.username post.id %}">Удалить</a>
        <a class="btn btn-secondary" type="button" data-dismiss="modal">Отмена</a>
      </div>
      </div> 
    </div>
  </div>
</div>
{% endif %}
<hr>