{% extends "index.html" %}
{% block title %} Записи пользователя {{ author.username }} {% endblock %}
{% block content %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <div class="h2">
            {{ author.get_full_name}}
          </div>
          <div class="h3 text-muted">
            {{ author.username }}
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="{% url 'posts:new_post' %}" style="text-decoration:underline">Создать пост</a>
           </li>
          <li class="list-group-item">
            <a href="{% url 'password_change' %}" style="text-decoration:underline">Смена пароля</a><br/>
            <a href="{% url 'logout' %}" style="text-decoration:underline">Выход</a>
          </li>
          <li class="list-group-item">
            <div class="h6 text-muted">
              Записей: {{ author.posts.count }}
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      {% for post in page %}
        {% include "includes/post_in_cat.html" with post=post %}
      {% endfor %}

      {% include "includes/paginator.html" %}
    </div>
  </div>
</main>
{% endblock %}